[submodule "module/EnsembleAPI"]
	path = module/EnsembleAPI
	url = https://github.com/rendezvue/EnsembleAPI.git
[submodule "module/ImgEncDec"]
	path = module/ImgEncDec
	url = https://github.com/rendezvue/ImgEncDec.git
[submodule "module/pugixml"]
	path = module/pugixml
	url = https://github.com/rendezvue/pugixml.git
[submodule "module/ImageBuf2Mat"]
	path = module/ImageBuf2Mat
	url = https://github.com/rendezvue/ImageBuf2Mat.git
